.SunriseAndZawwalWrapper {
  margin-top: 10px;
  width: 100%;
  font-size: 3em;
}

.SunriseAndZawwalTable {
  float: right;
}

.SunriseAndZawwalTable td {
  min-width: 0;
}

.SunriseAndZawwalTable th,
.SunriseAndZawwalTable td {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .SunriseAndZawwalWrapper {
    font-size: 1em;
  }

  .SunriseAndZawwalTable th,
  .SunriseAndZawwalTable td {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 600px) {
  .SunriseAndZawwalWrapper {
    font-size: 1.3em;
  }

  .SunriseAndZawwalTable th,
  .SunriseAndZawwalTable td {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .SunriseAndZawwalWrapper {
    width: 99%;
  }
}


@media only screen and (min-width: 925px) {
  .SunriseAndZawwalWrapper {
    font-size: 1.2em;
  }
}

