.AdditionalMessageWrapper {
  text-align: center;
  margin: 0 auto;
  margin-right: 0px;
  font-size: 1em;
  margin-top: 100px;
}

.button {
    padding: 9px 9px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
}

a {
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color: white;
  color: white;
}

a:hover{
  color: #0f715d;
}

.AdditionalMessageWrapper p {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .AdditionalMessageWrapper {
    font-size: 1em;
    margin-top: 20px;
    margin-right: 3px;
  }
}

@media only screen and (min-width: 600px) {
  .AdditionalMessageWrapper {
    font-size: 1em;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .AdditionalMessageWrapper {
    margin-right: 15px;
  }
}
