.AdditionalMessageWrapper {
  text-align: center;
  margin: 0 auto;
  margin-right: 10px;
  font-size: 1em;
  margin-top: 100px;
}

.button {
    border-color: #e60050;
    padding: 9px 9px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
}

a {
  color: white;
   text-decoration: none;
}

.AdditionalMessageWrapper p {
  margin: 20px;
}

.AdditionalMessageWrapper .middle {
  font-weight: bold;
  font-size: 1.3em;
}

@media only screen and (max-width: 600px) {
  .AdditionalMessageWrapper {
    font-size: 1em;
    margin-top: 15px;
    margin-right: 10px;
  }
  .AdditionalMessageWrapper .middle {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .AdditionalMessageWrapper {
    font-size: 1em;
    margin-top: 15px;
  }
  .AdditionalMessageWrapper .middle {
    font-size: 1em;
  }
}
