.LogoWrapper img {
  width: 105px;
  position: absolute;
  top: 0px;
  left: 86%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
  .LogoWrapper img {
      width: 187px;
      margin-left: -10px;
  }
}

/* @media only screen and (min-width: 925px) {
  .LogoWrapper img {
      position: relative;
  }
} */
