.LogoWrapper img {
  width: 105px;
  position: absolute;
  top: 0px;
  left: 86%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .LogoWrapper img {
      width: 187px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .LogoWrapper img {
      position: relative;
  }
}
