.LogoWrapper img {
  width: 107px;
  display: block;
  position: fixed;
  left: 83%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .LogoWrapper img {

  }
}
